ul#concert-list {
    padding-left: 0px;
    min-width: 760px;
    /* margin: 0 auto; */
    /* margin-left: 20px; */
}
#concert-list-container {
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
#concert-list a {
    text-decoration: none;
    color: #0B3142;
}
#concert-list a:active, #concert-list a:visited {
    color: #0B3142;
}
#concert-list li {
    position: relative;
    padding: 8px;
    margin: 8px 0;
    background-color: white;
    text-align: left;
    border: 2px solid #0B3140;
}
#concert-list li img {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 20px;
}
#concert-list li span {
    position: absolute;
    top: 0;
    right: 0;
}
#concert-list h2 {
    color: #0F5257;
    margin: 5px 0 10px 0;
    font-size: 18px;
}
#concert-list h3 {
    /* color: #0F5257; */
    margin: 5px 0 0 0;
    font-size: 15px;
}
.concert-list button{
    font-size: 20px;
    color: #0F5257;
    background-color: white;
    border-radius: 15%;
}
.concert-list button.saved{
    font-size: 20px;
    color: #0F5257;
}
#concert-list-container {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
}
#concert-list-container .links {
    margin: 30px 0;
}
#concert-list a {
    text-decoration: none;
    color: #0B3142;
}
#concert-list a:active, #concert-list a:visited {
    color: #0B3142;
}
#concert-list li {
    position: relative;
    padding: 8px;
    margin: 8px 0;
    background-color: #d2d9dc;
    text-align: left;
    border: 2px solid #0B3140;
    border-radius: 15px;
}
#concert-list li img {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 20px;
}
#concert-list-container .savedlink {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
    font-size: 16px;
    padding: 6px 14px;
    cursor: pointer;
    text-decoration: none;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: .2s all;
}
#concert-list-container .savedlink:hover {
    font-weight: 700;
}
#concert-list li span {
    position: absolute;
    top: 0;
    right: 0;
}
#concert-list h2 {
    color: #0F5257;
    margin: 5px 0 10px 0;
    font-size: 18px;
}
#concert-list h3 {
    /* color: #0F5257; */
    margin: 5px 0 0 0;
    font-size: 15px;
}
.concert-list button{
    font-size: 20px;
    color: #0F5257;
    background-color: white;
    border-radius: 15%;
}
.concert-list button.saved{
    font-size: 20px;
    color: #0F5257;
}