@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto+Condensed|Roboto+Mono|Spartan&display=swap');

/* .detail-box-container {
    display: flex;
    flex-flow: column;
} */

#detail-container {
    display: flex;
    justify-content: center;
}

#detail-left {
width: 50%;
}

#detail-right {
width: 50%;
}

#detail-left img {
    width: 75%;
}

detail-detail-container {
    
}

detail-page-image {
}

.detail-page-right-side {
    font-size: 16px;
    width: 50%;
}

.detail-box-container li {
    list-style: none;

}

.share-buttons{
    position: relative;
    margin-left: 80%;
    margin-top: -50px;
    margin-bottom: 20px;
}

.detail-box-container li h3 {
    
}

.detail-ticket-button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
    font-size: 20px;
    padding: 2px 8px;
    cursor: pointer;
    padding: 5px 8px;
}

.detail-h1 {
    color: #0B3142;
    display: block;
    text-align: left;
    margin-left: 7%;

}
.detail-page-save-button {
    margin-top: 16px;
}

#detail-save-button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
    font-size: 20px;
    padding: 2px 8px;
    cursor: pointer;
    margin-left: 3.5%;
    padding: 5px 8px;
    transition: 0s all;
}








#detail-container button.saved {
    background: Grey;
}

#detail-container button.lds-ellipsis {
    color: white !important;
}

#detail-container button.lds-ellipsis:hover {
    color: black;
    /* transition: 0s all; */
}

#detail-container button.lds-ellipsis div {
    display: inline-block;
}

#detail-container .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    /* height: 80px; */
}
#detail-container .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#detail-container .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
#detail-container .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
  #detail-container .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
#detail-container .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}



/* 
.detail-detail-container {
    background-color: 0F5257;
}

.detail-box-container li {
    list-style: none;
}

.flexparent-of-details {
    display: flex;
    justify-content: space-evenly;
}

.detail-page-save-button {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding-right: 60px;
    padding-top: 20px;
}

.detail-h1 {
    display: flex;
    padding-left: 105px;
}

.detail-page-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 13vw;
    width: 450px;
}

.detail-page-image {
    display: flex;
}

.location-detail {
    white-space: normal;
}

.detail-box {
    width: 65%;
    justify-content: center;
    margin: 0 auto;
    
    
}
.detail-h1 {
    color: #0B3142;
}
.detail-type {

}

.detail-ticket-button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
    font-size: 20px;
    padding: 2px 8px;
    cursor: pointer;
    margin: 0px 0px 20px 0px;
} */