@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet');

.detail-concert-list {
    background-color: 0F5257;
}

.detail-concert-images {
    height: 200px;
}

.detail-ticket-button {
    color: white;
    background-color: 0F5257;
    border-radius: 25px;
    font-size: 20px;
    padding: 2px 8px;
}
