@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto+Condensed|Roboto+Mono|Spartan&display=swap');

div.header {

    background-color: #0F5257;
    height: 75px;
    text-size-adjust: 50px;
}
#header-image{
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 33%;
}
.header {
font-family: 'Quicksand';  
color: white;
display: flex;
justify-content: center;
position: relative;
align-items: center;
}

#header-text{
    font-size: 45px;
    font-family: 'Quicksand';
}

#header{
    position: fixed;
    width: 100%;
    height: 11%;
    background-color: #0F5257;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
}

.header button{
    color: #0F5257;
    background-color: #0B3142;
}

