@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

.header {
    background-color: #0F5257;
    height: 75px;
    text-size-adjust: 50px;
}
header {
font-family: 'spartan';  
color: white;
}

#header-text{
    font-size: 45px;
    font-family: Spartan;
    padding: 10px;
}

.header button{
    color: #0F5257;
    background-color: #0B3142;
}

