@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto+Condensed|Roboto+Mono|Spartan&display=swap');

.container {
    height: 100vh;
    width: 100vw;        
    align-items: center;
}
#concert-image{
    height: 150px;
    width: 470px;
    /* float: right; */
}
.logo{
    /* display: flex;
    justify-content: center; */
}
.homepage-container h1 {
    font-family: 'Quicksand';  
    color: white;
    font-size: 75px;
    position: relative;
    top: 20px;
    margin: 0;
}
.homepage-container h2 {
    font-family: 'Quicksand';  
    font-size: 30px;
}
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 2px solid #0F5257;
}

.homepage-container {
    background-color: #0F5257;
    height: 100%;
    width: 100%;
}

.homepage-container button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
}
.homepage-container button:hover{
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}