@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
.container {
    height: 100vh;
    width: 100vw;        
    align-items: center;
}

.homepage-container h1 {
    font-family: 'spartan';  
    color: white;
    font-size: 65px;
    position: relative;
    top: 20px;
    margin: 0;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 2px solid #0F5257;
}

.homepage-container {
    background-color: #0F5257;
    height: 100%;
    width: 100%;
}

.homepage-container button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
}
.homepage-container button:hover{
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}