.concert-list span div {
    display:none;
}

.concert-list span div:first-child {
    display:inline-block;
}
#concert-list-container #sidebar {
    margin-right: 70px;
    margin-left: -70px;
}

.concert-list span {
    color: white;
    display: inline-block;
    line-height: 80px;
    cursor: pointer;
    width: 80px !important;
    height: 80px !important;
    /* padding: 20px; */
    transition: .2s all;
    font-size: 40px !important;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
}

.concert-list .list-right {
    display: inline-block;
}

.concert-list span.saved {
    color: black;
}

.concert-list span.lds-ellipsis {
    color: white !important;
}

.concert-list span:hover {
    color: #0F5257;
    /* transition: 0s all; */
}

.concert-list span.lds-ellipsis:hover {
    color: black;
    /* transition: 0s all; */
}

.concert-list span.lds-ellipsis div {
    display: inline-block;
}

.concert-list .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.concert-list .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.concert-list .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.concert-list .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
  .concert-list .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.concert-list .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}