#saved-list-container {
    margin: 50px 0px 50px 0px auto;
    text-align: center;
    background-color: #d2d9dc;
    border: solid 2px #0F5257;
    border-radius: 25px;
    
}
saved-list-container li {
    text-decoration: none;
}

.saved-list h1 {
    font-family: 'Quicksand';
    font-size: 25px;
    color: #0F5257;
}

.saved-list h3 {
    color: #0F5257;
}

ul#saved-list {
    padding-left: 0px;
    width: 760px;
    margin: 0 auto;
}
#saved-list-container {
    margin: 0 auto;
    text-align: center;
    background-color: #d2d9dc;
    width: 75%;
}

#saved-list a:active, #saved-list a:visited {
    color: #0B3142;
}
#saved-list li {
    position: relative;
    padding: 8px;
    margin: 8px 0;
    background-color: #d2d9dc;
    text-align: left;
    border: 2px solid #0B3140;
}
#saved-list li img {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 20px;
}
#saved-list li span {
    position: absolute;
    top: 0;
    right: 0;
}
#saved-list-container a {
    text-decoration: none;
    color: #0B3142;
}
#saved-list h2 {
    color: #0F5257;
    margin: 5px 0 10px 0;
    font-size: 25px;
}
#saved-list h3 {
    color: #0F5257; 
    margin: 5px 0 0 0;
    font-size: 15px;
}

#saved-list-container {
    margin: 50px auto;
    text-align: center;
    background-color: #d2d9dc;
}
#remove-from-saves-button {
    color: white;
    background-color: #0F5257;
    border-radius: 25px;
    margin-bottom: 10px;
}